/*----------------------------------*/
/*----------------------------------*/
/*--------------Divert Section------*/
/*----------------------------------*/
/*----------------------------------*/



#divert-slide{
    background-image: url('../img/trans-korean-tacos.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width:100vw;
    height: 100vh;
}

#user-btn{
    /*verticle centering:*/
    position: relative;
    top:50%;
    transform: translateY(-50%);

    display: block;
    margin: auto;
    height:75px;
    width: 150px;
    font-size: 25pt;
    text-align: center;
    color: #54b0c4;
    font-weight: bold;
    border: #54b0c4 solid 5px;
    background: rgba(255,255,255,0.7);
    border-radius: 8px;
    padding:10px;
}

#owner-btn{
    position: relative;
top: 50%;
    margin: auto;
    display: block;
    /*margin:10px 10px 10px 10px;*/
    height:20px;
    width: 200px;

    text-align: center;
    color: #4B4748;
    font-size: 12pt;
    vertical-align: center;
    font-weight: bold;
    /*border: #3B3738 solid 2px;*/
    /*background: rgba(255,255,255,0.7);*/
    /*border-radius: 8px;*/
}

#truckloginheader{
    padding-top: 30px;   
}

#stupid-buttons{
    position: absolute;
    top:10px;
    left:10px;
}